footer{

text-align: center;

}
#heard1{

    text-align: center;
    color: rgb(255, 196, 206);
}
body{

background-color: rgb(195, 214, 187);
}
ul {
  list-style: none; /* remove as bolinhas */
  padding: 10px;
}

li {
  margin: 12px 0;
  display: block;
}

header{

background-color: rgb(75, 126, 9);
}
footer {
  background-color: #333;/*cor do fundo*/
  color: white;/*cor do texto*/
  text-align: center;/*texto alinhado*/
  padding: 15px;/*espacamento interno*/
}